* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.circle {
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff url(images/clock.svg) no-repeat center;
    background-size: 88%;
    height: 20em;
    padding-bottom: 31%;
    position: relative;
    width: 20em;
}

#hour {
    position: absolute;
    background-color: rgb(3, 3, 3);
    transform-origin: right;
    height: 4px;
    width: 40px;
    top: 50%;
    right: 49%;
}

#minute {
    position: absolute;
    background-color: black;
    border-radius: 12px;
    transform-origin: bottom;
    height: 30%;
    width: 1%;
    left: 50.3%;
    top: 20%;
    border-radius: 200%;
}

#second {
    position: absolute;
    background-color: black;
    border-radius: 12px;
    transform-origin: bottom;
    height: 30%;
    background-color: black;
    width: 0.2%;
    left: 50.5%;
    top: 20%;
}
